<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
  <wicket:panel>
    <form wicket:id="form" class="popupForm">

      <div class="formField">
        <label for="title"><wicket:message key="title">[title]</wicket:message></label>
        <input id="title" class="strong" wicket:id="title" type="text" />
      </div>

      <div class="formField">
        <label for="description"><wicket:message key="description">[description]</wicket:message></label>
        <textarea id="description" wicket:id="description" rows="15" />
      </div>

      <div class="actions">
        <a class="function" wicket:id="validateButton"><wicket:message key="validate">[validate]</wicket:message></a>
        <a class="function" wicket:id="cancelButton" ><wicket:message key="cancel">[cancel]</wicket:message></a>
        <div class="clear" />
      </div>

    </form>
  </wicket:panel>
</body>
</html>
