<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
  <wicket:panel>
  
    <div class="clear">&nbsp;</div>

    <div wicket:id="note" class="note">
      <div class="noteHeader">
        <div class="title">
          <span wicket:id="title" >[title]</span>
        </div>
        <div class="actions">
          <a wicket:id="edit" href="#" class="editLink" />
          <a wicket:id="delete" href="#" class="deleteLink" />
        </div>
      </div>
      <div class="noteBody">
        <div class="noteDescription">
          <span wicket:id="description" class="description">[description]</span>
        </div>
      </div>
      <div class="noteFooter">
        <div class="metadata">
          <span wicket:id="modificationDate" >[modificationDate]</span>
        </div>
        <div class="links">
          <a wicket:id="facebookLink" href="#" class="facebookLink" />
          <a wicket:id="twitterLink" href="#" class="twitterLink" />
          <a wicket:id="emailLink" href="#" class="emailLink" />
        </div>
      </div>
    </div>
    
    <div class="clear">&nbsp;</div>
<!-- 
    <div class="listData">
    <table>
      <tbody>
        <tr wicket:id="list">
          <td>
            <span wicket:id="title" class="title">[title]</span>
            <span dir="ltr">&nbsp;-&nbsp;</span>
            <span wicket:id="description" class="description">[description]</span>
          </td>
          <td class="action"><a wicket:id="edit" href="#" class="editLink" /></td>
          <td class="action"><a wicket:id="delete" href="#" class="deleteLink" /></td>
        </tr>
      </tbody>
    </table>
     </div>
 -->
  </wicket:panel>
</body>

</html>
