<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
  <wicket:panel>
  
    <div class="clear" />

    <div wicket:id="note" class="note">
      <div class="noteHeader">
        <div class="title">
          <span wicket:id="title" >[title]</span>
        </div>
        <div class="actions">
          <a wicket:id="edit" href="#" class="editLink" wicket:message="title:editTitle" />
          <a wicket:id="delete" href="#" class="deleteLink" wicket:message="title:deleteTitle" />
        </div>
      </div>
      <div class="noteBody">
        <div class="noteDescription">
          <span wicket:id="description" class="description">[description]</span>
        </div>
      </div>
      <div class="noteFooter">
        <div class="metadata">
          <span wicket:id="modificationDate" >[modificationDate]</span>
        </div>
        <div class="links">
          <a wicket:id="pdfLink" href="#" class="pdfLink" wicket:message="title:pdfLinkTitle" />
          <a wicket:id="facebookLink" href="#" class="facebookLink" wicket:message="title:facebookLinkTitle" />
          <a wicket:id="twitterLink" href="#" class="twitterLink" wicket:message="title:twitterLinkTitle" />
          <a wicket:id="emailLink" href="#" class="emailLink" wicket:message="title:emailLinkTitle" />
          <a wicket:id="permaLink" href="#" class="permaLink" wicket:message="title:permaLinkTitle" />
        </div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>

  </wicket:panel>
</body>

</html>
