<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
  <wicket:panel>

    <form wicket:id="form">
      <div class="formField">
        <label for="login"><wicket:message key="login">[login]</wicket:message></label>
        <input id="login" wicket:id="login" type="text" />
      </div>
      <div class="formField">
        <label for="password"><wicket:message key="password">[password]</wicket:message></label>
        <input id="password" wicket:id="password" type="password" class="password" />
        <a class="function" wicket:id="loginButton" ><wicket:message key="connect">[connect]</wicket:message></a>
      </div>
      <div class="formField options">
        <input type="checkbox" wicket:id="rememberMeCB"/><label for="rememberMeCB"><wicket:message key="rememberMe">[rememberMe]</wicket:message></label>
        &nbsp;-&nbsp;
        <a href="#"><wicket:message key="forgottenPassword">[forgottenPassword]</wicket:message></a>
      </div>
      <div class="clear" />
    </form>

  </wicket:panel>
</body>

</html>
