<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<body>
  <wicket:panel>
    
  <form wicket:id="form">
    <h2><strong>Nouveau sur Notz ?</strong>&nbsp;Inscrivez-vous</h2>
    <div class="formField">
      <label><wicket:message key="username">[username]</wicket:message></label>
      <input wicket:id="username" type="text" />
    </div>
    <div class="formField">
      <label><wicket:message key="email">[email]</wicket:message></label>
      <input wicket:id="email" type="text" />
    </div>
    <div class="formField">
      <label for="password"><wicket:message key="password">[password]</wicket:message></label>
      <input wicket:id="password" type="password" />
    </div>
    <div class="formField">
      <label><wicket:message key="confirmation">[confirmation]</wicket:message></label>
      <input wicket:id="confirmation" type="password" />
    </div>
    <div class="formField">
      <a wicket:id="registrationButton" href="#" class="function"><wicket:message key="register">[register]</wicket:message></a>
      <div class="clear" />
    </div>
  </form>

  </wicket:panel>
</body>

</html>
