/*************/
/* RESET CSS */
/*************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0 none; font-family: Arial,Helvetica,sans-serif; margin: 0; padding: 0; vertical-align: baseline; }
body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 1; }
ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }
em { font-style: italic; }
img { vertical-align: middle; }
a { color: #000000; }

/*****************************/
/* APPLICATION GLOBAL STYLES */
/*****************************/

body { color: #333; font-size: 0.96em; font-family: arial, verdana, times new roman, sans-serif; margin: 0 auto; width: 900px; }

#header { padding: 20px; border-bottom: 1px solid #999; }
#header .title { float: left; }
#header .accountMenuBar { float: right; margin-top: 10px; }

#body {  }

#footer { padding: 20px 0; border-top: 1px solid #999; }

div.clear { display:block; clear: both; }

form { border: 1px solid #CCC; border-radius: 3px; background-color: #F5F5F5; margin: 10px; }
form h2 { font-size:16px; line-height: 20px; font-weight: normal; color: #777; border-bottom: 1px solid #DDD; padding:10px 15px; }
form h2 strong { color: #333; }
form .formField { padding: 5px 15px; }
form .formField label { display: block; line-height: 22px; }
form .formField input { display: block; line-height: 24px; height: 26px; width: 100%; border: 1px solid #AAA; padding: 0 5px; }
form .formField input[type="checkbox"] { display: inline-block; width: 13px; height: 13px; line-height: 0; vertical-align: middle; }
form .formField input[type="checkbox"] + label { display: inline; padding-left: 3px; vertical-align: middle; }
form .formField textarea { display: block; width: 100%; border: 1px solid #AAA; padding: 5px; }

/* --- Wicket FeedbackPannel --- */
ul.feedbackPanel { list-style-type: none; list-style-position: inside; padding: 0; margin: 5px 0; }
ul.feedbackPanel li { padding: 5px; margin-bottom: -1px; }
ul.feedbackPanel li.feedbackPanelUNDEFINED { border: 1px solid #CCC; background-color: #EEE; color: #CCC; } /* grey */
ul.feedbackPanel li.feedbackPanelDEBUG { border: 1px solid #CCC; background-color: #EEE; color: #CCC; } /* grey */
ul.feedbackPanel li.feedbackPanelINFO { border: 1px solid #00529B; background-color: #BDE5F8; color: #00529B; } /* blue */
ul.feedbackPanel li.feedbackPanelWARNING { border: 1px solid #9F6000; background-color: #FEEFB3; color: #9F6000; } /* yellow */
ul.feedbackPanel li.feedbackPanelERROR { border: 1px solid #D8000C; background-color: #FFBABA; color: #333; } /* red */
ul.feedbackPanel li.feedbackPanelFATAL { border: 1px solid #D8000C; background-color: #FFBABA; color: #D8000C; } /* red */

/* --- Wicket AutoCompleteTextField --- */
div.wicket-aa { background-color:white; border:1px solid #CCC; color: #333; }
div.wicket-aa ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin:0pt; }
div.wicket-aa ul li { padding: 5px; }
div.wicket-aa ul li.selected { background-color:#FFC966; }

/* --- Wicket Popup --- */
.w_content_3 { border: none; }
.w_topLeft .w_top .w_topRight { background-image: url(../img/noimage.png); }


/* --- Function button --- */
a.function {
	text-decoration: none;
	background: linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background: -ms-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  padding: 0 10px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	font-size: 13px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
	position: relative;
}

a.function:hover {
	color: #FFF;
	background: linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent;
	border-color: #518CC6 #518CC6 #2A65A0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

a.editLink { background-image: url(../img/edit.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle;}
a.deleteLink { background-image: url(../img/delete.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; }
a.pdfLink { background-image: url(../img/pdf.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.facebookLink { background-image: url(../img/facebook.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.twitterLink { background-image: url(../img/twitter.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.emailLink { background-image: url(../img/email.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.permaLink { background-image: url(../img/feed.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }

/****************************/
/* COMPONENTS CUSTOM STYLES */
/****************************/

/* --- Common layout --- */
.content { padding: 10px ; }

/* --- User Form Page --- */
.userForm { width: 360px; }

/* -----------------------*/
/* --- Home Page --- */
/* -----------------------*/

.leftColumn { float: left; width: 540px; }
.rightColumn { float: right; width: 340px; } 

.overview { padding: 10px; }
.overview .feature { padding: 15px 0 10px 60px; background-repeat: no-repeat; background-position: 10px 15px; }
.overview .feature-add { background-image: url(../img/feature1.png); border-bottom: 1px solid #CCC; }
.overview .feature-get { background-image: url(../img/feature2.png); border-bottom: 1px solid #CCC; }
.overview .feature-sync { background-image: url(../img/feature3.png); border-bottom: 1px solid #CCC; }
.overview .feature-share { background-image: url(../img/feature4.png); border-bottom: 1px solid #CCC; }
.overview .feature-trends { background-image: url(../img/feature5.png); }

.loginForm {  }
.loginForm form .formField input.password { width: 178px; display: inline-block; }
.loginForm form .options { font-size: 13px; line-height: 15px; vertical-align: middle; }
.loginForm form .options a { vertical-align: middle; }

.signupForm { margin-top: 20px; }
.signupForm form .formField a { float: right; }

/* -----------------------*/
/* --- User List Page --- */
/* -----------------------*/

.toolbar { padding: 10px; }
.toolbar .searchNotesField { float: right; height: 26px; }
.toolbar .searchNotesField input {
	margin: 0;
	padding: 0 10px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	height: 26px;
	line-height: 24px;
	padding-left: 25px;
}

.toolbar .searchNotesField a { margin:0; border-radius: 3px 3px 3px 3px; }

.noteList { }
.noteList .note { width: 271px; height: 240px; margin: 10px; border: 1px solid #999; float: left; word-wrap:break-word; position: relative;}
.noteList .note:hover { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
.noteList .noteHeader { border-bottom: 1px solid #999; padding: 10px; border: none; }
.noteList .noteHeader .title { height: 16px; overflow: hidden; display: inline-block; width: 200px; }
.noteList .noteHeader .title span { font-weight: bold; }
.noteList .noteHeader .actions { float: right; }
.noteList .noteBody { overflow: hidden; padding: 10px; height: 130px; }
.noteList .noteFooter { border-top: 1px solid #999; padding: 10px; position: absolute; bottom: 0; right: 0; left: 0; background-color: #F2F2F2; }
.noteList .noteFooter .metadata { color: #ABABAB; display: inline-block; }
.noteList .noteFooter .links { float: right; }

.popupForm { border: none; margin: 0; }
.popupForm input.strong { font-weight: bold; }
.popupForm .actions { padding: 10px; }
.popupForm .actions a.function { float: right; margin: 0 5px; }
