/*************/
/* RESET CSS */
/*************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0 none; font-family: Arial,Helvetica,sans-serif; margin: 0; padding: 0; vertical-align: baseline; }
body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 1; }
ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }
em { font-style: italic; }
img { vertical-align: middle; }
a { color: #000000; }

/*****************************/
/* APPLICATION GLOBAL STYLES */
/*****************************/

body { color: #333; font-size: 0.96em; font-family: arial, verdana, times new roman, sans-serif; margin: 0 auto; width: 900px; }

#header { padding: 20px; border-bottom: 1px solid #999; }
#header .title { float: left; }
#header .accountMenuBar { float: right; margin-top: 10px; }

#body {  }

#footer { padding: 20px 0; border-top: 1px solid #999; }

div.clear { display:block; clear: both; }

form { border: 1px solid #E4E4E4; background-color: #F5F5F5; padding: 10px; margin: 10px; }
form h3 { color: #D60000; text-transform: uppercase; margin-bottom: 10px; }
form fieldset { border: none; margin: 20px 0; }
form fieldset span.formSectionTitle { color: #333; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; display: block; width: 100%; border-bottom: 1px solid #333; padding-bottom: 3px; }
form div.formField { margin-bottom: 5px; }
form div.formField label.fieldLabel { height: 25px; display: inline-block; width: 100px; text-align: right; }
form div.formField label.fieldLabelShort { height: 25px; display: inline-block; text-align: right; }
form div.formField input.fieldInput { height: 25px; width: 200px; padding: 0 3px; border: 1px solid #AAA; }
form div.formField input.fieldInputShort { height: 25px; width: 100px; padding: 0 3px; border: 1px solid #AAA; }
form div.formField input.fieldCheckBox { margin-right: 3px; }
form div.formField select.fieldInput { height: 25px; width: 200px; padding: 0 0 0 3px; border: 1px solid #AAA; }
form div.formField select.fieldInputShort { height: 25px; width: 100px; padding: 0 0 0 3px; border: 1px solid #AAA; }
form div.formField span.fieldInput label { margin-left: 2px; margin-right: 5px; }
form div.formField span.fieldRequiredFlag { margin-left: 2px; margin-right: 0px; font-weight: bold; color: red;}
form div.formField span.fieldOptionalFlag { margin-left: 2px; margin-right: 3px; }
form div.actionsBar { display: inline-block; float:right; }
form div.actionsBar button.formAction { font-weight: bold; margin-left: 10px; cursor: pointer; background: #F0F0F0; border: 1px solid #CCC; color: #666; height: 30px; padding: 2px 7px; text-transform: uppercase; }
form div.actionsBar button.formAction:hover { background: #AAA; border: 1px solid #888; color: white; }
form div.actionsBar input[type="reset"] { font-weight: bold; margin-left: 10px; cursor: pointer; background: #F0F0F0; border: 1px solid #CCC; color: #666; height: 30px; padding: 2px 7px; text-transform: uppercase; }
form div.actionsBar input[type="reset"]:hover { background: #AAA; border: 1px solid #888; color: white; }
form div.actionsBar input[type="submit"].formAction { font-weight: bold; margin-left: 10px; cursor: pointer; background: #F0F0F0; border: 1px solid #CCC; color: #666; height: 30px; padding: 2px 7px; text-transform: uppercase; }
form div.actionsBar input[type="submit"].formAction:hover { background: #69A74E; border: 1px solid; border-color: #3B6E22 #3B6E22 #2C5115; color: white; }

ul.feedbackPanel { list-style-type: none; list-style-position: inside; padding: 0; margin: 5px 0; }
ul.feedbackPanel li { padding: 5px; margin-bottom: -1px; }
ul.feedbackPanel li.feedbackPanelUNDEFINED { border: 1px solid #CCC; background-color: #EEE; color: #CCC; } /* grey */
ul.feedbackPanel li.feedbackPanelDEBUG { border: 1px solid #CCC; background-color: #EEE; color: #CCC; } /* grey */
ul.feedbackPanel li.feedbackPanelINFO { border: 1px solid #00529B; background-color: #BDE5F8; color: #00529B; } /* blue */
ul.feedbackPanel li.feedbackPanelWARNING { border: 1px solid #9F6000; background-color: #FEEFB3; color: #9F6000; } /* yellow */
ul.feedbackPanel li.feedbackPanelERROR { border: 1px solid #D8000C; background-color: #FFBABA; color: #333; } /* red */
ul.feedbackPanel li.feedbackPanelFATAL { border: 1px solid #D8000C; background-color: #FFBABA; color: #D8000C; } /* red */

div.wicket-aa { background-color:white; border:1px solid #CCC; color: #333; }
div.wicket-aa ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin:0pt; }
div.wicket-aa ul li { padding: 5px; }
div.wicket-aa ul li.selected { background-color:#FFC966; }

a.function { text-decoration: none; background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent; padding: 0 10px; 
  border-color: #D4D4D4 #D4D4D4 #BCBCBC; border-radius: 3px 3px 3px 3px; border-style: solid; border-width: 1px; height: 24px; line-height: 24px; 
  cursor: pointer; display: inline-block; white-space: nowrap; font-size: 13px; font-weight: bold; text-shadow: 0 1px 0 #FFFFFF; position: relative; }
a.function:hover { color: #FFF; background: -moz-linear-gradient(#599BDC, #3072B3) repeat scroll 0 0 transparent; border-color: #518CC6 #518CC6 #2A65A0; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
a.editLink { background-image: url(../img/edit.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle;}
a.deleteLink { background-image: url(../img/delete.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; }
a.pdfLink { background-image: url(../img/pdf.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.facebookLink { background-image: url(../img/facebook.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.twitterLink { background-image: url(../img/twitter.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.emailLink { background-image: url(../img/email.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.permaLink { background-image: url(../img/feed.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }

/****************************/
/* COMPONENTS CUSTOM STYLES */
/****************************/

/* --- Common layout --- */
.content { padding: 0 10px 10px ; }

/* --- User Form Page --- */
.userForm { width: 360px; }

/* --- User List Page --- */
.toolbar { }
.toolbar .searchNotesField { float: right; height: 26px; }
.toolbar .searchNotesField input { margin: 0; padding: 0 10px; background-image: url(../img/search.png); background-repeat: no-repeat; background-position: 5px center;
  border-color: #D4D4D4 #D4D4D4 #BCBCBC; border-radius: 3px 3px 3px 3px; border-style: solid; border-width: 1px; height: 26px; line-height: 24px; padding-left: 25px; }
.toolbar .searchNotesField a { margin:0; border-radius: 3px 3px 3px 3px; }

.noteList { }
.noteList .note { width: 270px; height: 240px; margin: 10px; border: 1px solid #999; float: left; word-wrap:break-word; position: relative;}
.noteList .note:hover { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
.noteList .noteHeader { border-bottom: 1px solid #999; padding: 10px; border: none; }
.noteList .noteHeader .title { height: 16px; overflow: hidden; display: inline-block; width: 200px; }
.noteList .noteHeader .title span { font-weight: bold; }
.noteList .noteHeader .actions { float: right; }
.noteList .noteBody { overflow: hidden; padding: 10px; height: 130px; }
.noteList .noteFooter { border-top: 1px solid #999; padding: 10px; position: absolute; bottom: 0; right: 0; left: 0; background-color: #F2F2F2; }
.noteList .noteFooter .metadata { color: #ABABAB; display: inline-block; }
.noteList .noteFooter .links { float: right; }

