
/*****************************/
/* APPLICATION GLOBAL STYLES */
/*****************************/

body { color: #333; font-size: 0.96em; font-family: arial, verdana, times new roman, sans-serif; margin: 0 auto; width: 900px; }

#header { padding: 20px; border-bottom: 1px solid #999; }
#header .title { float: left; }
#header .accountMenuBar { float: right; margin-top: 10px; }

#body { padding: 10px ; }

#footer { padding: 20px 0; border-top: 1px solid #999; }

div.clear { display:block; clear: both; }

a.editLink { background-image: url(../img/edit.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle;}
a.deleteLink { background-image: url(../img/delete.png); background-repeat: no-repeat; width: 18px; height: 18px; display: inline-block; vertical-align: middle; }
a.pdfLink { background-image: url(../img/pdf.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.facebookLink { background-image: url(../img/facebook.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.twitterLink { background-image: url(../img/twitter.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.emailLink { background-image: url(../img/email.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }
a.permaLink { background-image: url(../img/feed.png); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; vertical-align: middle; }

/****************************/
/* COMPONENTS CUSTOM STYLES */
/****************************/

/* -----------------------*/
/* --- Home Page --- */
/* -----------------------*/

.leftColumn { float: left; width: 540px; }
.rightColumn { float: right; width: 310px; } 

.home .overview { padding: 10px; }
.home .overview .feature { padding: 15px 0 10px 60px; background-repeat: no-repeat; background-position: 10px 15px; }
.home .overview .feature h4 { margin: 0; }
.home .overview .feature-add { background-image: url(../img/feature1.png); border-bottom: 1px solid #CCC; }
.home .overview .feature-get { background-image: url(../img/feature2.png); border-bottom: 1px solid #CCC; }
.home .overview .feature-sync { background-image: url(../img/feature3.png); border-bottom: 1px solid #CCC; }
.home .overview .feature-share { background-image: url(../img/feature4.png); border-bottom: 1px solid #CCC; }
.home .overview .feature-trends { background-image: url(../img/feature5.png); }

.home form { border: 1px solid #CCC; border-radius: 3px; background-color: #F5F5F5; margin: 10px 10px 20px 10px; }
.home form .headerArea { border-bottom: 1px solid #DDD; padding: 0 15px; }
.home form .headerArea h2 { color: #777; font-weight: normal; font-size: 16px; line-height: 20px; }
.home form .headerArea h2 strong { color: #333; font-weight: 800; }
.home form .fieldsArea { padding: 15px; }
.home form .formField { padding: 5px 15px; }
.home form .fieldInput { width: 244px; }
.home form .fieldShortInput { width: 126px; }
.home form .footerArea {}



/* -------------------*/
/* --- Notes Page --- */
/* -------------------*/

.notes form input { width: 516px; }
.notes form textarea { width: 516px; }

/* -----------------------*/
/* --- User List Page --- */
/* -----------------------*/

.toolbar { padding: 10px; }
.toolbar .searchNotesField { float: right; height: 26px; }
.toolbar .searchNotesField input {
	margin: 0;
	padding: 0 10px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	height: 26px;
	line-height: 24px;
	padding-left: 25px;
}

.toolbar .searchNotesField a { margin:0; border-radius: 3px 3px 3px 3px; }

.noteList { }
.noteList .note { width: 271px; height: 240px; margin: 10px; border: 1px solid #999; float: left; word-wrap:break-word; position: relative;}
.noteList .note:hover { -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); box-shadow: 0 0 10px rgba(0,0,0,0.5); cursor: pointer;}
.noteList .noteHeader { border-bottom: 1px solid #999; padding: 10px; border: none; }
.noteList .noteHeader .title { height: 16px; overflow: hidden; display: inline-block; width: 200px; }
.noteList .noteHeader .title span { font-weight: bold; }
.noteList .noteHeader .actions { float: right; }
.noteList .noteBody { overflow: hidden; padding: 10px; height: 130px; }
.noteList .noteFooter { border-top: 1px solid #999; padding: 10px; position: absolute; bottom: 0; right: 0; left: 0; background-color: #F2F2F2; }
.noteList .noteFooter .metadata { color: #ABABAB; display: inline-block; }
.noteList .noteFooter .links { float: right; }

.popupForm { border: none; margin: 0; }
.popupForm input.strong { font-weight: bold; }
.popupForm .actions { padding: 10px; }
.popupForm .actions a.function { float: right; margin: 0 5px; }
